<accordion>
  <!-- <accordion-group heading="Project Details" class="customClass" [isOpen]="false"/>
  </accordion-group> -->
  <div class="row">
    <div class="col-sm-12 ">
      <div class="accordinHead">
        <h1>Project Details</h1>
      </div>
    </div>
  </div>
  <accordion-group heading="Project 1 : Responsive Invoicing Application (React, Redux, Nodejs, Bootstap4)">
    <p>Invoicing application targeting SMEs of Australia and give a value added with their account with Bank. React, Redux and
      Nodejs based Responsive application.</p>
    <ul>
      <li> Development of a responsive application using React-Redux and leading libraries in ecosystem like- Redux-forms, Normalizer.js,
        Prototypes, Create-React-app CLI. </li>
      <li> Unit tests using Enzyme and Jest libraries.</li>
      <li> Component based architecture of application to make it as scalable and reusable possible.
        <li>Tapping into newest libraries like ReduxForm and Styled-components in React ecosystem. </li>
        <li> Suitable data management using Redux state management and organizing incoming data using Normalizer.js.</li>
        <li> Using Nodejs for orchestration of data in and out of the application.</li>
        <li> Data validation and security with nodejs.</li>

    </ul>
  </accordion-group>
  <accordion-group heading="Project 2 : Customer support, easy access customer Data application (React, Redux)">
    <p>React-Redux based web application to faccilitate easy access of different kind of data available about customer from
      different portal at one place. For faster response.</p>
    <ul>
      <li> Development of application using React-Redux and thunks </li>
      <li> Unit tests using Enzyme and Jest libraries.</li>
      <li> Component based architecture of application to make it as scalable and reusable possible.
        <li>Using controlled and normal form components. </li>
        <li> Improving performance of application reducing unwanted rerenders.</li>
        <li> Response and error management.</li>
        <li> Routing using react-router.</li>
    </ul>
  </accordion-group>
  <accordion-group heading="Project 3 : Risk Management Application for a bank (Angular, Rxjs, angular-Cli, Bootstrap) ">
    <p>Project is to develop a portal for the bank, which takes care of managing risk calculation related to clients as a customer
      or organizations.</p>
    <ul>
      <li> Development of the application using Angular-cli, Angular4, Typescript and ngx-bootstrap to design component based
        application .</li>
      <li>Developed different reusable components and used it in different parts of the application.</li>
      <li>Use of core concepts like passing data between components, services, directives, pipes and templates to make application
        out of reusable components.</li>
      <li> Use of observables and subscribing to deal with asynchronous request.</li>
      <li> Used several new features like reactive Form of Angular2, one ways data binding, two way data binding, ViewChild and
        passing data between components.</li>

    </ul>

  </accordion-group>
  <accordion-group heading="Project 4 : Enhancing performance of an Angularjs and scss application, adding React table with it.  ">
    <p>Project was to enhancing the performance of already build project by third party company. A crew management portal of
      US based leading airlines company. Portal is for crew members of airlines where they could login with their credentials
      and see all the details, assignment and alerts related to them. Also they can see the details of flights and their
      assignments to flights and manage their time accordingly.</p>
    <ul>
      <li>Application had serious performance issues because of angular watchers going out of control with large data tables
        in application and not good module structuring. </li>
      <li>Performance of application is measured using chrome profiler and Batarang.</li>
      <li>Implemented tables with reactjs to take benefit of its virtual DOM rendering and reduce angular watchers.</li>
      <li> Use of observables and subscribing to deal with asynchronous request.</li>
      <li>Other performance enhancement steps like changing one-way data binding where possible and module restructuring and
        service call rewriting were taken.</li>

    </ul>

  </accordion-group>
  <accordion-group heading="Project 5 : Smart payment Portal for a World’s Leading Bank. (Angularjs - Bootstrap)">
    <p>Smart payment portal gives a web based experience that provides buyer with flexible payment options. By giving freedom
      to use same login Id and password once registered with organization, to be used at different type of logins. Also Partial
      payment option for customer was implemented by giving freedom to divide payment among many credit cards or bank accounts
      without affecting supplier standard collection process of payment.</p>
    <ul>
      <li>Complete frontend for the app which uses angular and it’s MVC structure for logical and Bootstrap for UI structuring
        and coding.</li>
      <li>Worked in team of two Frontend developers to deliver the product from scratch.</li>
      <li>Register cards and bank accounts of the customer with the bank and facilitate thesecure payment.</li>
      <li>Dashboard with all consolidated payments information with details. </li>
      <li>Interacts with different servers for authentications and to get data.</li>
      <li>Bootstrap and HTML5shiv use to make cross browser compatibility and responsive.</li>
      <li>Other libraries use like, Underscore.js, normalize.css and Moment.js for different functionalities </li>


    </ul>
  </accordion-group>

  <accordion-group heading="Project 6 : “Image Editing app” with use of HTML5, Sass, jQuery and JavaScript.">
    <p>Idea of the project was to provide user with different options to click or select image from phone gallery and customize
      image on their own and send it as a Greetings to their friends.</p>
    <ul>
      <li> It is an app for doing basic image editing and forward that image as greeting card.</li>
      <li> Development involved use of HTML5,Sass, CSS3, JavaScript and jQuery libraries.</li>
      <li> Project also involved use of Rest Web service to send the edited image and to save in database.</li>
      <li> Image editing functionalities like crop, rotate, blur effect, blending effect etc. was implemented with help of third
        party JavaScript library.</li>



    </ul>
  </accordion-group>
</accordion>