.jumbo {
  width: 100%;
  height: 100%;
}
.mainImgContainer {
  height: 50px;
}
.imgCircleDim {
  width: 100%;
}
.contentDiv {
  padding: 2%;
  margin-top: 2%;
}
.rpsImg {
  width: 60%;
  position: relative;
  margin-left: 10%;
}
.rpsLabel {
  position: absolute;
  color: White;
  font-size: 2em;
  left: 36%;
  bottom: 39%;
}
.mainText {
  color: white;
}

.contactDetails {
  position: fixed;
  left: 87%;
  top: 2px;
  margin: 20px;
  width: 140px;
  height: 151px;
  background: #f00;
}

.contactContent {
  position: fixed;
  font-family: cursive;
  color: white;
  font-size: 0.9em;
  width: 109px;
  height: 50px;
  left: 89%;
  top: 88px;
}
@media (max-width: 766px) {
  .jumbo {
    display: none;
  }
  .rpsImg {
    width: 80%;
    position: relative;
  }
  .rpsLabel {
    position: absolute;
    color: White;
    font-size: 1em;
    margin-left: 8%;
  }
  .imgCircleDim {
    margin-top: 165px;
    width: 100%;
  }
  .contactDetails {
    width: 0px;
    height: 0px;
    left: 82%;
    top: 2px;
    display: none;
  }
  .contactContent {
    position: absolute;
    width: 100%;
    height: 150px;
    margin-right: 0;
    margin: auto;
    left: 0%;
    right: -2%;
    padding: 2%;
    font-size: 2em;
    top: 10%;
    background-color: #f00;
  }
}
